@import "fonts";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: "Raleway";
}
html,
body {
  width: fit-content;
  height: fit-content;
}
