@mixin flex($justify, $align, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin min-size($min-width, $min-height) {
  min-width: $min-width;
  min-height: $min-height;
}

@mixin max-size($max-width, $max-height) {
  max-width: $max-width;
  max-height: $max-height;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
