* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: sans-serif;
  transition-duration: 0.25s;
}
html,
body {
  width: fit-content;
  height: fit-content;
}
